In [11]:
import pandas as pd 
import requests

In [32]:
url = "http://localhost:3000/api/games"

In [38]:
blue_params = {'gameId': 21738, 'side': 'Blue'}
red_params = {'gameId': 21738, 'side': 'Red'}
blue_response = requests.get(url, params=blue_params)
red_response = requests.get(url, params=red_params)

In [39]:
blue_response.json()

[{'id': 21738,
  'match_id': 13351,
  'game_number': 1,
  'blue_team': 1655,
  'red_team': 1641,
  'blue_win': 1,
  'duration': 2162,
  'game_id': 21738,
  'side': 'Blue',
  'first_blood': 0,
  'first_tower': 0,
  'towers': 11,
  'tower_plates': 0,
  'void_grubs': 0,
  'rift_heralds': 0,
  'baron_nashors': 2,
  'infernals': 1,
  'mountains': 1,
  'clouds': 0,
  'oceans': 0,
  'hextechs': 0,
  'chemtechs': 0,
  'elders': 0,
  'feats_of_strength': 0,
  'ruinous_atakhan': 0,
  'voracious_atakhan': 0}]

In [44]:
df = pd.DataFrame(blue_response.json())
df[['blue_win', 'game_number', 'duration', 'first_blood', 'first_tower', 'towers', 'tower_plates', 'void_grubs', 'rift_heralds',
    'baron_nashors', 'infernals', 'mountains', 'clouds', 'oceans', 'hextechs', 'chemtechs', 'elders', 'feats_of_strength',
    'ruinous_atakhan', 'voracious_atakhan']]

,blue_win,game_number,duration,first_blood,first_tower,towers,tower_plates,void_grubs,rift_heralds,baron_nashors,infernals,mountains,clouds,oceans,hextechs,chemtechs,elders,feats_of_strength,ruinous_atakhan,voracious_atakhan
0,1,1,2162,0,0,11,0,0,0,2,1,1,0,0,0,0,0,0,0,0

In [45]:
df = pd.DataFrame(red_response.json())
df[['first_blood', 'first_tower', 'towers', 'tower_plates', 'void_grubs', 'rift_heralds',
    'baron_nashors', 'infernals', 'mountains', 'clouds', 'oceans', 'hextechs', 'chemtechs', 'elders', 'feats_of_strength',
    'ruinous_atakhan', 'voracious_atakhan']]

,first_blood,first_tower,towers,tower_plates,void_grubs,rift_heralds,baron_nashors,infernals,mountains,clouds,oceans,hextechs,chemtechs,elders,feats_of_strength,ruinous_atakhan,voracious_atakhan
0,1,1,3,0,0,2,0,0,2,0,1,0,0,0,0,0,0

In [ ]:
def game_vector(gameId):
    blue_params = {'gameId': gameId, 'side': 'Blue'}
    red_params = {'gameId': gameId, 'side': 'Red'}
    blue_response = requests.get(url, params=blue_params)
    red_response = requests.get(url, params=red_params)

    blue_df = pd.DataFrame(blue_response.json())
    red_df = pd.DataFrame(red_response.json())